.header {
  display: flex;
}
.navBar {
}
.destinationcards {
  display: flex;
}
.cardImg {
  max-width: 30%;
}
.cardIcon {
  max-width: 1%;
}
.button {
  background-color: #779150;
  color: #fff;
  border-radius: 10%;
  border-style: none;
}
